.outerDiv {
    text-align: center;
    padding-top: 20px;
}

.header {
    text-align: center;
    color: indianred;
}

.errorMessage {
    color: indianred;
    font-size: larger;
}

.selectRole {
    margin: 100px;
    min-width: 1200px;
}